
@import url("./var.css");

.tabs {
   background: var(--varcolor-dark);
   padding-top: 1rem;
   border-bottom: 1px solid var(--varcolor-gray);

}
.tabs .container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 1rem;
   align-items: center;
   justify-content: center;
   text-align: center;

}
.container{
   max-width: 100%;
   margin: auto;
   overflow: hidden;
   padding: 0 5rem;

}

.tabs p{
   font-size: 1.2rem;
   padding-top: 0.5rem;
   
   
}

.tabs .container > div {
   padding: 1.5rem 1rem ;
   
}

.tabs .container > div:hover{
   color: aqua;
   cursor: pointer;

}
.tab-border{
   border-bottom: red 4px solid;
   box-shadow: 1px 1px 20px 0px rgba(166, 157, 204,0.5);

}
   
